body {
    font-family: Arial, sans-serif;
}

.listing-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #2e4154;
    color: white;
    padding: 40px;
    min-height: 90vh;
}

label {
    font-size: 12px;
}

/* Left Section */
.listing-left {
    flex: 1;
    max-width: 50%;
    padding-right: 30px;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.listing-left h2 {
    font-size: 22px;
    margin-bottom: 10px;
}


.listing-left h1 {
    font-weight: 700;
    color: #fff;
    font-size: 42px;
    line-height: normal;
    max-width: 600px;
}

.badges {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.badges span {
    background: #2C2F54;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
}

.stats {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.stat-box {
    flex: 1;
    /* padding: 15px; */
    border-radius: 10px;
    color: #000;

}

.green {
    background: #ffffff;
}

.blue {
    background: #C9E7FF;
}

.brand {
    margin-top: 10px;
    font-size: 18px;
}

/* Right Section (Form) */
.listing-right {
    background: #fff;
    color: #000;
    padding: 25px;
    border-radius: 15px;
    width: 350px;
}

.listing-right h2 {
    margin-bottom: 20px;
    font-size: 20px;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0 20px;
}

.btn-group button {
    /* flex: 1; */
    font-size: 12px;
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

.btn-group button.active {
    background: #2e4154;
    color: #fff;
    border: none;
}

.checkbox-group span {
    font-size: 12px;
}

.phone-input {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.phone-input input {
    border: none;
    outline: none;
    flex: 1;
}

.listing-right input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
}

.continue-btn {
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 10px;
    border: none;
    background: #2e4154;
    color: #ffffff;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 10px;
}

.help-text {
    font-size: 13px;
    text-align: center;
}

select {
    font-size: 12px;
}